body {
  margin: 0;
  padding: 0;
}
#menu {
  position: absolute;
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: black;
}
.option {
  font-size: 24px;
  font-family: Anton SC;
  color: beige;
}
.option:hover {
  cursor: pointer;
  color: #335577;
  user-select: none;
}
h1 {
  user-select: none;
  display: flex;
  font-family: Anton SC;
  margin: 0;
  font-size: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: beige;
  background: linear-gradient(0deg, #111213, #232527);
}
